/* Ensure the background covers the full viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Flexbox to center the content and apply background color */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Background colors based on category */
.men-section {
  background-color: var(--men-bg);
}

.women-section {
  background-color: var(--women-bg);
}

.unavailable-section {
  background-color: var(--unavailable-bg);
}

/* Define the custom color variables */
:root {
  --men-bg: #d6e6ff; /* Light blue for men */
  --women-bg: #fde2ff; /* Light pink for women */
  --unavailable-bg: #dcdcdc; /* Gray for unavailable */
  --primary-color: #720060;
  --secondary-color: #002772;
  --price-color: #02939e;
}
